<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="NotificationsWebhookUrl" value="http://localhost:3000/"/>
    <add key="MerchantDomain" value="richstestsite.com"/>
    <add key="MerchantAuthenticationToken" value="xxxxxxxxx"/>
    <add key="RiskifiedEnvironment" value="Sandbox"/>
  </appSettings>
</configuration>
